<!DOCTYPE html>
<html>
<head>
  <title>Parser WWW</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Parser WWW</a>
      </div>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
